<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Narok County Budgeting System Login</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="icon" href="./media/emblem-gok.svg" type="image/svg+xml">
</head>
<body>
    <div class="container">
        <img class="gok-emblem" src="./media/emblem-gok.svg"></img>
        <h2 class="text-white">County Government Budgeting System</h2>

        <form action="/" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-green">Login</button>
            <button class="btn btn-red reset">Reset</button>
        </form>
    </div>
</body>
</html>
